.hero {
    height: calc(100vh - 8rem);

    &::before {
        background: linear-gradient(0deg,
                rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.9)),
            repeating-linear-gradient(0deg,
                rgba(0, 0, 0, 0.3),
                rgba(0, 0, 0, 0.9)),
            url('../../public/dd9e63d4932a97a690fbe4bd40102541.jpg');

        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        content: "";
        width: 100vw;
        height: 100vh;

        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.heading-primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 0.5rem;
    margin: 0 auto;

    &-main {
        margin-top: 25%;
        font-size: 7rem;
        color: var(--main-color-light);
    }

    &-sub {
        font-size: 2rem;
        color: var(--light-grey-color-1);
        font-style: italic;
        letter-spacing: 4px;
    }
}