.about-section {
    min-height: 100vh;

    color: var(--light-grey-color-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding: 2rem 0;

    h2 {
        margin-top: 3rem;
        font-size: 5rem;
    }

    p {
        font-size: 3rem;
        width: 80%;
    }
}

.projects-preview-section {
    // min-height: 100vh;
    color: var(--light-grey-color-1);
    // padding: 2rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    h2 {
        margin-top: 3rem;
        font-size: 5rem;
        text-align: center;
    }
}

.projects-grid {
    display: grid;
    grid-template-columns: 40rem 40rem;
    grid-template-rows: auto auto;
    // grid-auto-rows: 300px 300px;
    gap: 2rem;
}

.project {
    background-color: #fff;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.contact-section {
    min-height: 100vh;
    color: var(--light-grey-color-1);
}